.completed {
  background-color: lime !important;
  color: black !important;
}
.uncompleted {
  background-color: gray !important;
  color: white !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: gray;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
